(
    greeting: "+OK POP3 server ready.\r\n",

    capa: ["SASL ANONYMOUS APOP AUTH=CRAM-MD5 AUTH=CRAM-SHA1 AUTHDAEMON AUTHMYSQL AUTH-RESP-CODE CRAM- CRAM_MD5 CRAM-MD5 CRAM-RIPEMD CRAM-SHA1 CRAM-SHA25 CRAM-SHA256 CRAM-SHA512 DIGEST-MD5 EXPIRE EXTERNAL GS2-IAKERB GS2-KRB5 GSSAPI GSS-SPNEGO KERBEROS_V4 LOGICRAM-MD5 LOGIN LOGIN-DELAY LOPGIN MSN NEVER NTLM OAUTHBEARER ONECOM OTP PIPELINING PLAIN POP3AUTH POP3AUTH=LOGIN RESP-CODES RPA SCRAM-MD5 SCRAM-SHA-1 SCRAM-SHA-256 SKEY SRP SYNOAUTH TOKEN TOP UIDL USER X-CHMAIL XOAUTH2 X-PLAIN-SUBMIT X-TMAILER X-ZIMBRA"],

    capa_auth: [],
    capa_tls: [],
    capa_tls_auth: [],

    stls_response: "-ERR STARTTLS not supported.\r\n",
    stls_make_transition: false,

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
