(
    greeting: "+OK 2 messages (320 octets)\r\n1 120\r\n2 200\r\n.\r\n",

    capa:          [],
    capa_auth:     [],
    capa_tls:      [],
    capa_tls_auth: [],

    pkcs12: (
        file: "<not needed>",
        password: "<not needed>",
    ),
    implicit_tls: false,
)
