(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain, Login])],

    // Step 1
    //ignore_commands_tls: ["ehlo"],
    // Step 2
    //stls_response: "220 Ready to start TLS\r\n250-example.org\r\n250 AUTH LOGIN\r\n",

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
