(
	state: NotAuthenticated,

	greeting: Ok(
		tag: None,
		code: None,
		text: Text("wE4tXlYX")
	),

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	pkcs12: (
		file: "<not needed>",
		password: "<not needed>",
	),

	implicit_tls: false,
)

