(
	state: NotAuthenticated,

	greeting: Bye(
		tag: None,
		code: None,
		text: Text("X0n0fCj9")
	),

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	pkcs12: (
		file: "<not needed>",
		password: "<not needed>",
	),

	implicit_tls: false,
)

