(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain])],

    override_response: {
        "starttls": "221 Closing connection!\r\n",
    },

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,

    hook_data: Pass("Allow email to be send."),
)
