(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, StartTls, LoginDisabled, Other(Atom("IMAPSIEVE=sieve://example.org"))])),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, StartTls, LoginDisabled, Other(Atom("IMAPSIEVE=sieve://example.org"))],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login), Other(Atom("IMAPSIEVE=sieve://example.org"))],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)

