(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, Other(Atom("UTF8=ONLY")), Enable, StartTls])),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, Other(Atom("UTF8=ONLY")), Enable, StartTls],
	caps_tls: [Imap4Rev1, Other(Atom("UTF8=ONLY")), Enable, StartTls],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)

