(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([
Imap4Rev1,
Auth(Other(Atom("ANONYMOUS"))),
Auth(Other(Atom("BINARY"))),
Auth(Other(Atom("CRAM-MD5"))),
Auth(Other(Atom("CRAM-SH1"))),
Auth(Other(Atom("CRAM-SHA1"))),
Auth(Other(Atom("CRAM-SHA2"))),
Auth(Other(Atom("CRAM-SHA256"))),
Auth(Other(Atom("CRAM-SHA384"))),
Auth(Other(Atom("CRAM-SHA512"))),
Auth(Other(Atom("CRAM=SHA1"))),
Auth(Other(Atom("DIGEST-MD5"))),
Auth(Other(Atom("DIGEST-MD6"))),
Auth(Other(Atom("DPA"))),
Auth(Other(Atom("EL-TAC"))),
Auth(Other(Atom("EL-VOICE"))),
Auth(Other(Atom("EXTERNAL"))),
Auth(Other(Atom("GS2-IAKERB"))),
Auth(Other(Atom("GS2-KRB5"))),
Auth(Other(Atom("GSS-SPNEGO"))),
Auth(Other(Atom("GSSAPI"))),
Auth(Other(Atom("KERBEROS_V4"))),
Auth(Other(Atom("LOGIN"))),
Auth(Other(Atom("MSN"))),
Auth(Other(Atom("NONE"))),
Auth(Other(Atom("NTLM"))),
Auth(Other(Atom("OAUTHBEARER"))),
Auth(Other(Atom("ONECOM"))),
Auth(Other(Atom("OPENID20"))),
Auth(Other(Atom("OTP"))),
Auth(Other(Atom("PLAIN"))),
Auth(Other(Atom("PLAIN-CLIENTTOKEN"))),
Auth(Other(Atom("RPA"))),
Auth(Other(Atom("SAML20"))),
Auth(Other(Atom("SCRAM-MD5"))),
Auth(Other(Atom("SCRAM-SHA-1"))),
Auth(Other(Atom("SCRAM-SHA-256"))),
Auth(Other(Atom("SCRAM-SHA-256-PLUS"))),
Auth(Other(Atom("SECURID"))),
Auth(Other(Atom("SHADOW"))),
Auth(Other(Atom("SKEY"))),
Auth(Other(Atom("SRP"))),
Auth(Other(Atom("SYNOAUTH"))),
Auth(Other(Atom("TOKEN"))),
Auth(Other(Atom("X-BIO"))),
Auth(Other(Atom("X-CHMAIL"))),
Auth(Other(Atom("X-PLAIN-SUBMIT"))),
Auth(Other(Atom("X-UMS"))),
Auth(Other(Atom("X-WEBLOGIN"))),
Auth(Other(Atom("X-ZIMBRA"))),
Auth(Other(Atom("XGWTRUSTEDAPP"))),
Auth(Other(Atom("XOAUTH"))),
Auth(Other(Atom("XOAUTH2"))),
Auth(Other(Atom("XSRVCTOKEN"))),
Auth(Other(Atom("X_NORTEL_HMAC_MD5"))),
Auth(Other(Atom("ZIMBRA"))),
		])),
		text: Text("IMAP server ready.")
	),
	caps: [
Imap4Rev1,
Auth(Other(Atom("ANONYMOUS"))),
Auth(Other(Atom("BINARY"))),
Auth(Other(Atom("CRAM-MD5"))),
Auth(Other(Atom("CRAM-SH1"))),
Auth(Other(Atom("CRAM-SHA1"))),
Auth(Other(Atom("CRAM-SHA2"))),
Auth(Other(Atom("CRAM-SHA256"))),
Auth(Other(Atom("CRAM-SHA384"))),
Auth(Other(Atom("CRAM-SHA512"))),
Auth(Other(Atom("CRAM=SHA1"))),
Auth(Other(Atom("DIGEST-MD5"))),
Auth(Other(Atom("DIGEST-MD6"))),
Auth(Other(Atom("DPA"))),
Auth(Other(Atom("EL-TAC"))),
Auth(Other(Atom("EL-VOICE"))),
Auth(Other(Atom("EXTERNAL"))),
Auth(Other(Atom("GS2-IAKERB"))),
Auth(Other(Atom("GS2-KRB5"))),
Auth(Other(Atom("GSS-SPNEGO"))),
Auth(Other(Atom("GSSAPI"))),
Auth(Other(Atom("KERBEROS_V4"))),
Auth(Other(Atom("LOGIN"))),
Auth(Other(Atom("MSN"))),
Auth(Other(Atom("NONE"))),
Auth(Other(Atom("NTLM"))),
Auth(Other(Atom("OAUTHBEARER"))),
Auth(Other(Atom("ONECOM"))),
Auth(Other(Atom("OPENID20"))),
Auth(Other(Atom("OTP"))),
Auth(Other(Atom("PLAIN"))),
Auth(Other(Atom("PLAIN-CLIENTTOKEN"))),
Auth(Other(Atom("RPA"))),
Auth(Other(Atom("SAML20"))),
Auth(Other(Atom("SCRAM-MD5"))),
Auth(Other(Atom("SCRAM-SHA-1"))),
Auth(Other(Atom("SCRAM-SHA-256"))),
Auth(Other(Atom("SCRAM-SHA-256-PLUS"))),
Auth(Other(Atom("SECURID"))),
Auth(Other(Atom("SHADOW"))),
Auth(Other(Atom("SKEY"))),
Auth(Other(Atom("SRP"))),
Auth(Other(Atom("SYNOAUTH"))),
Auth(Other(Atom("TOKEN"))),
Auth(Other(Atom("X-BIO"))),
Auth(Other(Atom("X-CHMAIL"))),
Auth(Other(Atom("X-PLAIN-SUBMIT"))),
Auth(Other(Atom("X-UMS"))),
Auth(Other(Atom("X-WEBLOGIN"))),
Auth(Other(Atom("X-ZIMBRA"))),
Auth(Other(Atom("XGWTRUSTEDAPP"))),
Auth(Other(Atom("XOAUTH"))),
Auth(Other(Atom("XOAUTH2"))),
Auth(Other(Atom("XSRVCTOKEN"))),
Auth(Other(Atom("X_NORTEL_HMAC_MD5"))),
Auth(Other(Atom("ZIMBRA"))),
	],
	caps_tls: [],
	caps_auth: [],
	caps_tls_auth: [],

	starttls_response: Some("<tag> BAD STARTTLS not supported.\r\n"),
	starttls_transition: false,

    hook_authenticate: Terminate("Vulnerability, proceeded in plaintext."),
    hook_login: Terminate("Vulnerability, proceeded in plaintext."),
    hook_select: Terminate("Vulnerability, proceeded in plaintext."),

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)
