(
	state: NotAuthenticated,

    override_response: {
        "greeting": "Ac3cXIo1 rJzgnVlo\r\n* OK DHYw9lXw\r\n",
    },

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	pkcs12: (
		file: "<not needed>",
		password: "<not needed>",
	),

	implicit_tls: false,
)

