(
	state: NotAuthenticated,

    override_response: {
        "greeting": "wbaDMYq5 2ox2EFkf\r\nPPV3lCiJ zOp8wpIo\r\n* OK oxii684O\r\n",
    },

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	pkcs12: (
		file: "<not needed>",
		password: "<not needed>",
	),

	implicit_tls: false,
)

