(
	state: NotAuthenticated,

	greeting: Ok(
		tag: Some(Tag("XYZ")),
		code: None,
		text: Text("6Iy0xHRr")
	),

	caps:          [],
	caps_tls:      [],
	caps_auth:     [],
	caps_tls_auth: [],

	pkcs12: (
		file: "<not needed>",
		password: "<not needed>",
	),

	implicit_tls: false,
)

