(
	state: NotAuthenticated,

	greeting: Ok(
		tag: None,
		code: None,
		text: Text("z7fkPNEe")
	),

	caps: [Imap4Rev1, StartTls, LoginDisabled],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	ignore_commands: ["starttls"],
	//
	// Try to inject response with a reordered response
	override_response: {
     "capability": "2 OK begin TLS now (CsOKx3Fj)\r\n* CAPABILITY IMAP4REV1 STARTTLS LOGINDISABLED\r\n<tag> OK capability done (x0SLC4wJ)\r\n"
    },

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)
