(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain])],

    pkcs12: (
        file: "certs/example.org-unknown-root.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
