(
    greeting: "+OK POP3 server ready.\r\n",

    override_response: {
        "capa":     "-ERR no such command\r\n",
        "authlist": "-ERR no such command\r\n",
    },

    capa:          [], // not needed
    capa_auth:     [], // not interested after insecure authentication
    capa_tls:      [], // not interested after STARTTLS
    capa_tls_auth: [], // not interested after STARTTLS

    pkcs12: (
        file: "<not needed>",
        password: "<not needed>",
    ),
    implicit_tls: false,
)
