(
    greeting: "+OK POP3 server ready.\r\n",

    capa: [],
    capa_auth: [],
    capa_tls: [],
    capa_tls_auth: [],

    hide_commands: ["capa"],

    stls_response: "-ERR STARTTLS not supported.\r\n",
    stls_make_transition: false,

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
