(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain])],
    override_response: {
        "ehlo": "500 Syntax error, command unrecognized\r\n",
        "HELO": "354 Start mail input; End with <CRLF>.<CRLF>\r\n",
    },

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,

    hook_data: Pass("Allow email to be send."),
)
