(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, StartTls, LoginDisabled])),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, StartTls, LoginDisabled],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1, Compress(algorithm: Deflate)],
	caps_tls_auth: [Imap4Rev1, Compress(algorithm: Deflate)],

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)

