(
    greeting: "-ERR POP3 server ready.\r\n",

    override_response: {
        "quit": "+OK go away\r\n",
    },

    capa: [
        "STLS",
    ],
    capa_auth:     [], // not interested after insecure authentication
    capa_tls:      [], // not interested after STARTTLS
    capa_tls_auth: [], // not interested after STARTTLS

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
