(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, StartTls, LoginDisabled])),
		text: Text("IMAP server ready.")
	),

	starttls_response: Some("* SEARCH 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20\r\n<tag> OK ready for starttls\r\n"),

	caps: [Imap4Rev1, StartTls, LoginDisabled],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)

