(
    greeting: "-ERR \x1b[31;1;4mPOP3\x1b[0m server ready.\r\n",

    capa:          [],
    capa_auth:     [],
    capa_tls:      [],
    capa_tls_auth: [],

    pkcs12: (
        file: "<not needed>",
        password: "<not needed>",
    ),
    implicit_tls: false,
)
