(
    greeting: "+OK POP3 server ready.\r\n",

    capa: ["STLS", "TOP", "USER", "RESP-CODES", "LOGIN-DELAY 900", "PIPELINING", "EXPIRE 60", "UIDL"],
    capa_auth: ["TOP", "USER", "RESP-CODES", "LOGIN-DELAY 900", "PIPELINING", "EXPIRE 60", "UIDL"],
    capa_tls: ["TOP", "USER", "RESP-CODES", "LOGIN-DELAY 900", "PIPELINING", "EXPIRE 60", "UIDL"],
    capa_tls_auth: ["TOP", "USER", "RESP-CODES", "LOGIN-DELAY 900", "PIPELINING", "EXPIRE 60", "UIDL"],

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
