(
    greeting: "+OK POP3 server ready. <12345678912345678912.1234567891@example.org>\r\n",

    capa:          [],
    capa_auth:     [],
    capa_tls:      [],
    capa_tls_auth: [],

    pkcs12: (
        file: "<not needed>",
        password: "<not needed>",
    ),
    implicit_tls: false,
)
