(
    greeting: "+OK POP3 server ready.\r\n",

    // TODO: SASL CRAM-MD5 is done by Alpine over TLS

    capa: ["STLS", "TOP", "USER", "RESP-CODES", "LOGIN-DELAY 900", "PIPELINING", "EXPIRE 60", "UIDL", "IMPLEMENTATION fake_mail_server"],
    capa_auth: ["TOP", "USER", "RESP-CODES", "LOGIN-DELAY 900", "PIPELINING", "EXPIRE 60", "UIDL", "IMPLEMENTATION fake_mail_server"],
    capa_tls: ["TOP", "USER", "RESP-CODES", "LOGIN-DELAY 900", "PIPELINING", "EXPIRE 60", "UIDL", "IMPLEMENTATION fake_mail_server"],
    capa_tls_auth: ["TOP", "USER", "RESP-CODES", "LOGIN-DELAY 900", "PIPELINING", "EXPIRE 60", "UIDL", "IMPLEMENTATION fake_mail_server"],

    pkcs12: (
        file: "certs/example.org-expired.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
