(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: None,
		text: Text("IMAP server ready.")
	),

	hide_commands: ["starttls"],
	caps: [Other(Atom("IMAP4"))],
	caps_tls: [],
	caps_auth: [],
	caps_tls_auth: [],

    hook_authenticate: Terminate("Vulnerability, proceeded in plaintext."),
    hook_login: Terminate("Vulnerability, proceeded in plaintext."),
    hook_select: Terminate("Vulnerability, proceeded in plaintext."),

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)

