(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, Auth(Plain), Auth(Login)])),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	starttls_response: Some("<tag> BAD STARTTLS not supported.\r\n"),
	starttls_transition: false,

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,

    // Auth(Other("PLAIN-CLIENTTOKEN")),
    // Auth(Other("OAUTHBEARER")),
    // Auth(Other("XOAUTH")),
    // Auth(Other("XOAUTH2")),
    // Auth(Other("KERBEROS_V4")),
    // Auth(Other("GSSAPI")),
    // Auth(Other("SKEY")),
    // Auth(Other("EXTERNAL")),
)
