(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, StartTls, Auth(Plain), Auth(Login)])),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, StartTls, Auth(Plain), Auth(Login)],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	starttls_response: Some("+ continue with something.\r\n"),
	starttls_transition: false,

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)
