(
    // Not used.
    capabilities: [],
    capabilities_tls: [],

    // Pretend to not be an extended SMTP server.
    hide_commands: ["ehlo", "starttls"],

    // Not used.
    pkcs12: (file: "", password: ""),

    implicit_tls: false,
)
