(
    capabilities: [Auth([Plain, Login])],

    capabilities_tls: [Auth([Plain, Login])],

    stls_response: "502 Command not implemented\r\n",
    stls_make_transition: false,

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
