(
    capabilities: [StartTLS],

    capabilities_tls: [Auth([Plain, Login])],

    stls_response: "454 TLS not available due to temporary reason\r\n",
    stls_make_transition: false,

    pkcs12: (
        file: "certs/example.org.p12",
        password: "changeit",
    ),
    implicit_tls: false,
)
