(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, StartTls, LoginDisabled])),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, StartTls, LoginDisabled],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	// Change this only after you know what the client does in the next step.
	// (This example works with Thunderbird.)
	//
	// 1) Check if client waits for response (uncomment following line)
	//ignore_commands_tls: ["capability"],
	//
	// 2) Then try to inject response via STARTTLS suffix.
	//starttls_response: Some("<tag> OK begin STARTTLS now.\r\n* CAPABILITY IMAP4REV1 AUTH=PLAIN AUTH=LOGIN\r\n2 OK capability done.\r\n"),

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)
