(
	state: NotAuthenticated,
	greeting: Ok(
		tag: None,
		code: Some(Capability([Imap4Rev1, StartTls, LoginDisabled])),
		text: Text("IMAP server ready.")
	),
	caps: [Imap4Rev1, StartTls, LoginDisabled],
	caps_tls: [Imap4Rev1, Auth(Plain), Auth(Login)],
	caps_auth: [Imap4Rev1],
	caps_tls_auth: [Imap4Rev1],

	// 1) Prefix (first uncomment only this line)
	//starttls_response: Some("* OK [ALERT] prefix.\r\n<tag> OK begin STARTTLS now.\r\n"),

	// 2) Suffix (second uncomment only this line)
	//starttls_response: Some("<tag> OK begin STARTTLS now.\r\n* OK [ALERT] suffix.\r\n"),

	// 3) After TLS (third uncomment the following two lines)
	//starttls_response: Some("<tag> OK begin STARTTLS now.\r\n"),
	//response_after_tls: Some("* OK [ALERT] after TLS.\r\n"),

	pkcs12: (
		file: "certs/example.org.p12",
		password: "changeit",
	),
	implicit_tls: false,
)
